Dataset eksperimen
Sayang dibuang
ignore
2 Ekstraksi melodi DNN-LSTM/Query_IOACAS_QBH-pitch DNN-LSTM
2 Ekstraksi melodi DNN-LSTM/Query_IOACAS_QBH-semitone DNN-LSTM
2 Ekstraksi melodi DNN-LSTM/Query_MIR_QBSH-pitch DNN-LSTM
2 Ekstraksi melodi DNN-LSTM/Query_MIR_QBSH-semitone DNN-LSTM
3 Base-line system (Makarand 2018)/Praat Tools/Praat.exe
3 Base-line system (Makarand 2018)/Extraction - Wav query/Query_IOACAS_QBH
3 Base-line system (Makarand 2018)/Extraction - Wav query/Query_MIR_QBSH
3 Base-line system (Makarand 2018)/Extraction - Wav query/Query_MIR_QBSH_direct to file
3 Base-line system (Makarand 2018)/Extraction - Wav query/parselmouth pitch extraction/Query_IOACAS_QBH
3 Base-line system (Makarand 2018)/Extraction - Wav query/parselmouth pitch extraction/Query_IOACAS_QBH-pitch extracted with parselmouth
3 Base-line system (Makarand 2018)/Extraction - Wav query/parselmouth pitch extraction/Query_MIR_QBSH_direct to file
3 Base-line system (Makarand 2018)/Extraction - Wav query/parselmouth pitch extraction/Query_MIR_QBSH_direct to file-pitch extracted with parselmouth
3 Base-line system (Makarand 2018)/Matching with Unified Algorithm/Data query dan midi/Query_IOACAS_QBH
3 Base-line system (Makarand 2018)/Matching with Unified Algorithm/Data query dan midi/Query_MIR_QBSH